# 개요

# Prepare

# 1. 초기 세팅

## Library & data load

In [232]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [233]:
# 처리용 df와 오리지널 버전 남겨놓음
df = pd.read_csv("/Users/luci031/Downloads/auction/data_origin/auction_202101.csv",encoding='euc_kr')
org_df = pd.read_csv("/Users/luci031/Downloads/auction/data_origin/auction_202101.csv",encoding='euc_kr')

# Pre-Processing

## Basic info

In [234]:
df.head()

            품목명   단위      등급     가격            산지 친환경구분       입력일
0  [가리비국산]가리비국산  5kg  보통(3등)  24000         경남 남해    일반  20210104
1  [가리비국산]가리비국산  5kg  보통(3등)  22000  경남 마산(고성,진해)    일반  20210104
2  [가리비국산]가리비국산  5kg  보통(3등)  23000         경남 남해    일반  20210104
3  [가리비국산]가리비국산  5kg  보통(3등)  25000  경남 마산(고성,진해)    일반  20210104
4  [가리비국산]가리비국산  5kg  보통(3등)  23500  경남 마산(고성,진해)    일반  20210104

In [235]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409189 entries, 0 to 409188
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   품목명     409189 non-null  object
 1   단위      409189 non-null  object
 2   등급      409189 non-null  object
 3   가격      409189 non-null  int64
 4   산지      405456 non-null  object
 5   친환경구분   409189 non-null  object
 6   입력일     409189 non-null  int64
dtypes: int64(2), object(5)
memory usage: 21.9+ MB

In [236]:
# 산지 제외하고는 결측치 없는 것으로 확인
df.isnull().sum()

품목명         0
단위          0
등급          0
가격          0
산지       3733
친환경구분       0
입력일         0
dtype: int64

- 결측치 처리

In [237]:
###
# 양이 많지 않으므로 결측치 제거
df = df.dropna(axis=0)

- 영문명으로 전환

In [238]:
df = df.rename(columns = {'품목명':'prd',
                          '단위':'scale','등급':'class',
                          '가격':'price',
                          '산지':'origin',
                          '친환경구분':'eco',
                          '입력일':'reg_date'})

## column 별 정보

### class

In [239]:
# 이름 모두 영어로 변경
# 9등과 없음 모두 9로 변경
df['class'].value_counts().index

Index(['특(1등)', '상(2등)', '보통(3등)', '9등(등외)', '없음', '4등', '5등', '6등', '7등',
       '8등'],
      dtype='object')

In [240]:
df111 = pd.DataFrame([['특(1등)', 1], ['상(2등)',2], ['보통(3등)',3], ['9등(등외)',9], ['없음',9], ['5등',5], ['4등',4], ['6등',6], ['7등',7],['8등',8]],columns=['class','new_class'])

In [241]:
df2 = df.merge(df111)
df2 = df2.drop(columns='class')

In [242]:
df2

                 prd  scale  price        origin eco  reg_date  new_class
0       [가리비국산]가리비국산    5kg  24000         경남 남해  일반  20210104          3
1       [가리비국산]가리비국산    5kg  22000  경남 마산(고성,진해)  일반  20210104          3
2       [가리비국산]가리비국산    5kg  23000         경남 남해  일반  20210104          3
3       [가리비국산]가리비국산    5kg  25000  경남 마산(고성,진해)  일반  20210104          3
4       [가리비국산]가리비국산    5kg  23500  경남 마산(고성,진해)  일반  20210104          3
...              ...    ...    ...           ...  ..       ...        ...
405451    [토마토]대저토마토  2.5kg   4000        부산 강서구  일반  20210130          7
405452    [토마토]대저토마토    5kg   7000        경남 김해시  일반  20210130          7
405453    [토마토]대저토마토    5kg  14000        경남 김해시  일반  20210130          7
405454  [토마토]토마토(기타)  2.5kg  12000        부산 강서구  일반  20210130          7
405455  [토마토]토마토(기타)  2.5kg  17000        부산 강서구  일반  20210130          7

[405456 rows x 7 columns]

### eco

In [243]:
# 영문명으로 전환
# 전환기 -> 유기농 재배로 전환중
df2.loc[df2["eco"]=="일반","eco"] = "normal"
df2.loc[df2["eco"]=="우수농산물","eco"] = "good_prd"
df2.loc[df2["eco"]=="무농약","eco"] = "ecofriendly"
df2.loc[df2["eco"]=="유기농","eco"] = "organic"
df2.loc[df2["eco"]=="품질인증","eco"] = "certified"
df2.loc[df2["eco"]=="전환기","eco"] = "ing"

In [244]:
df2

                 prd  scale  price        origin     eco  reg_date  new_class
0       [가리비국산]가리비국산    5kg  24000         경남 남해  normal  20210104          3
1       [가리비국산]가리비국산    5kg  22000  경남 마산(고성,진해)  normal  20210104          3
2       [가리비국산]가리비국산    5kg  23000         경남 남해  normal  20210104          3
3       [가리비국산]가리비국산    5kg  25000  경남 마산(고성,진해)  normal  20210104          3
4       [가리비국산]가리비국산    5kg  23500  경남 마산(고성,진해)  normal  20210104          3
...              ...    ...    ...           ...     ...       ...        ...
405451    [토마토]대저토마토  2.5kg   4000        부산 강서구  normal  20210130          7
405452    [토마토]대저토마토    5kg   7000        경남 김해시  normal  20210130          7
405453    [토마토]대저토마토    5kg  14000        경남 김해시  normal  20210130          7
405454  [토마토]토마토(기타)  2.5kg  12000        부산 강서구  normal  20210130          7
405455  [토마토]토마토(기타)  2.5kg  17000        부산 강서구  normal  20210130          7

[405456 rows x 7 columns]

### reg_date

In [245]:
df2['reg_date'] = df2['reg_date'].astype('str')

In [246]:
df2['reg_date'] = pd.to_datetime(df2['reg_date'].astype('str'),format='%Y%m%d')

In [247]:
df2

                 prd  scale  price        origin     eco   reg_date  new_class
0       [가리비국산]가리비국산    5kg  24000         경남 남해  normal 2021-01-04          3
1       [가리비국산]가리비국산    5kg  22000  경남 마산(고성,진해)  normal 2021-01-04          3
2       [가리비국산]가리비국산    5kg  23000         경남 남해  normal 2021-01-04          3
3       [가리비국산]가리비국산    5kg  25000  경남 마산(고성,진해)  normal 2021-01-04          3
4       [가리비국산]가리비국산    5kg  23500  경남 마산(고성,진해)  normal 2021-01-04          3
...              ...    ...    ...           ...     ...        ...        ...
405451    [토마토]대저토마토  2.5kg   4000        부산 강서구  normal 2021-01-30          7
405452    [토마토]대저토마토    5kg   7000        경남 김해시  normal 2021-01-30          7
405453    [토마토]대저토마토    5kg  14000        경남 김해시  normal 2021-01-30          7
405454  [토마토]토마토(기타)  2.5kg  12000        부산 강서구  normal 2021-01-30          7
405455  [토마토]토마토(기타)  2.5kg  17000        부산 강서구  normal 2021-01-30          7

[405456 rows x 7 columns]

### price

In [248]:
# 계산을 위해 scale 값 미리 변경
# 현재 값들은 string이므로 float 형태로 변환할 필요가 있음
# 몇몇 이상치 처리도 진행
def scale_checker(scale):
  if scale.startswith('.')==True:
    return format(float('0'+scale[:-2]),'.2f')
  else:
    return format(float((scale[:-2])),'.2f')
df2['scale'] = df2['scale'].apply(scale_checker)
df2['scale'] = df2['scale'].astype('float')
# df2['scale'] = format(round(df2['scale'].apply(pd.to_numeric),2),'.2f')

In [249]:
df2['scale'].unique()

array([    5.  ,     1.  ,     3.  ,     1.5 ,     4.  ,     4.5 ,
           8.  ,     5.01,    10.  ,    20.  ,    15.  ,     5.4 ,
           6.  ,     2.  ,     0.05,     0.15,     0.2 ,     2.7 ,
           0.8 ,     0.9 ,     1.8 ,     1.56,     1.7 ,     1.9 ,
           1.6 ,     0.7 ,     9.5 ,     5.1 ,     0.5 ,     3.6 ,
           3.4 ,    21.5 ,    23.  ,     7.  ,    13.  ,     9.  ,
           1.4 ,    12.  ,     3.2 ,    18.  ,     2.5 ,    11.  ,
           4.4 ,     3.5 ,     8.01,     2.2 ,     4.2 ,     3.9 ,
           3.7 ,     7.5 ,     2.1 ,    10.2 ,     2.4 ,    11.5 ,
          16.5 ,    16.  ,     2.3 ,     3.8 ,     6.6 ,     1.3 ,
         101.  ,     8.5 ,    12.5 ,    17.  ,     2.8 ,     3.3 ,
          22.  ,     4.3 ,    30.  ,    21.  ,    22.5 ,    14.  ,
          21.8 ,     5.45,    13.5 ,    19.  ,    40.  ,    10.3 ,
           1.1 ,     6.5 ,    26.  ,     6.4 ,     9.8 ,     2.9 ,
          50.  ,     4.1 ,     4.8 ,     4.6 ,     4.7 ,     9.2 ,
         215.  ,     7.2 ,     2.6 ,     8.86,   240.  ,    25.  ,
           3.1 ,    83.  ,    82.5 ,    76.  ,     4.9 ,     9.3 ,
           7.6 ,     6.7 ,     1.73,     1.2 ,     5.5 ,     8.25,
           9.7 ,     7.1 ,    10.8 ,     0.4 ,     0.3 ,     0.1 ,
          19.2 ,    19.6 ,     8.4 ,    11.4 ,     9.4 ,    20.3 ,
           7.4 ,    12.8 ,    11.6 ,    15.6 ,    16.8 ,     0.25,
           0.13,    24.  ,     0.66,     1.01,     9.6 , 10000.  ,
           5.2 ,   125.  ,     0.6 ,     0.03,    10.01,     8.2 ,
           8.6 ,    10.6 ,    16.15,    14.4 ,     9.72,    11.2 ,
           5.7 , 20000.  ,    10.9 ,     0.12,    15.5 ,    10.5 ,
           0.65,    17.5 ,     0.35,    13.6 ,    15.4 ,    13.2 ,
           6.3 ,   110.  , 15000.  ,    16.01,     6.9 ,     6.75,
          12.1 ,    11.7 ,    21.6 ,     5.6 ,   135.  ,    17.6 ,
          22.4 ,     3.75,    47.  ,     8.1 ,    18.4 ,    11.3 ,
          19.8 ,    20.8 ,     0.45,    23.4 ,    23.1 ,     0.17,
          16.9 ,     8.8 ,    19.5 ,    15.2 ,     0.63,     5.8 ,
         185.  ,    11.9 ,    18.6 ,    16.4 ,     6.2 ,     5.3 ,
          18.2 ,     0.64,     0.56,    87.  ,     8.3 ,    12.7 ,
           0.01,    60.  ,     7.3 ,    29.  ,    11.8 ,     0.24,
          32.  ,     0.  ,    27.  ,     1.02,     0.52,     7.8 ,
          41.  ,    81.  ,    80.  ,    64.  ,    44.  ,    82.  ,
          79.5 ,    72.5 ,    11.01,    16.2 ,    16.1 ,     0.48,
           0.32,    28.  ,     0.54,     3.72,    10.44,    45.  ,
           7.25,    12.6 ,     7.7 ,     0.75,     6.1 ,    14.3 ,
          13.3 ,   120.  ,     8.7 ,     6.8 ,    85.  ,    80.5 ])

In [250]:
# 너무 거래값이 작은 값들은 삭제
pd.options.display.float_format = '{:.5f}'.format
df2['price'].describe()

count     405456.00000
mean       28125.19973
std       104118.25583
min            0.00000
25%         9500.00000
50%        18600.00000
75%        33000.00000
max     50028200.00000
Name: price, dtype: float64

In [251]:
df2 = df2.drop(df2[df2['price']<500].index)

In [252]:
df2

,prd,scale,price,origin,eco,reg_date,new_class
0,[가리비국산]가리비국산,5.00000,24000,경남 남해,normal,2021-01-04,3
1,[가리비국산]가리비국산,5.00000,22000,"경남 마산(고성,진해)",normal,2021-01-04,3
2,[가리비국산]가리비국산,5.00000,23000,경남 남해,normal,2021-01-04,3
3,[가리비국산]가리비국산,5.00000,25000,"경남 마산(고성,진해)",normal,2021-01-04,3
4,[가리비국산]가리비국산,5.00000,23500,"경남 마산(고성,진해)",normal,2021-01-04,3
...,...,...,...,...,...,...,...
405451,[토마토]대저토마토,2.50000,4000,부산 강서구,normal,2021-01-30,7
405452,[토마토]대저토마토,5.00000,7000,경남 김해시,normal,2021-01-30,7
405453,[토마토]대저토마토,5.00000,14000,경남 김해시,normal,2021-01-30,7
405454,[토마토]토마토(기타),2.50000,12000,부산 강서구,normal,2021-01-30,7
405455,[토마토]토마토(기타),2.50000,17000,부산 강서구,normal,2021-01-30,7

In [253]:
# kg 당 가격 생성

df2['price_kg'] = round((df2['price']/df2['scale']),2)

### prd
- 품목명 정리
- 품목 종류 정리

In [254]:
# 대부분 [상품 종류]상품명 으로 정리되어 있는걸 알 수 있음
df2['prd'].value_counts()

[딸기]설향          13932
[오이]백다다기         8176
[딸기]설향(딸기)       7845
[깻잎]깻잎           5951
[시금치]시금치         5733
                ...
[아욱]아욱(아욱)          1
[깻잎]깻순(깻순)          1
[대구포수입]대구포수입        1
[깐소라수입]깐소라수입        1
[포도]포도(세레단)         1
Name: prd, Length: 1175, dtype: int64

In [255]:
# 정리를 위해 상품명 삭제
def prd_sort(words):
  p = re.compile('[ㄱ-힣]+')
  word = re.search(p,words)
  return word.group()

df2['prd'] = df2['prd'].apply(prd_sort)

In [256]:
# 기타 품목 삭제
df2 = df2.drop(df2[df2['prd']=='기타'].index)

In [257]:
# 국산,수입산,깐,기타 삭제
def prd_sort2(words):
  p = re.compile('[^국산수입깐기타]+')
  word = re.search(p,str(words))
  return word.group()

df2["prd"] = df2["prd"].apply(prd_sort2)

In [296]:
# 몇몇 품목들 정리가 필요
a = sorted(df2['prd'].unique())
for i in range(len(a)):
  if i%15 != 0:
    print(a[i],end=' ')
  else:
    print(a[i],end=' ')
    print()

가리비
가물치 가오리 가오리채 가자미 가지 갈치 감 감귤 감말랭이 감자 갑오징어 갓 개량조개 개조개 건고추
게 겨자 고구마 고둥 고들빼기 고등어 고사리 고수 고추 고추잎 곤달비 곶감 과채류 굴 귤
근대 근채류 금감 김 깻잎 꼴뚜기 꽁치 꽈리고추 낙지 냉이 노루궁뎅이버섯 논우렁이 눈볼대 느타리버섯 다래
단감 달래 당귀 당근 대구 대추 대파 더덕 도다리 도라지 돌나물 돔 동자개 동죽 두릅
두리안 딸기 땅콩 떫은감 라임 람부탄 레몬 리치 마 마늘 만가닥버섯 만감 망고 매생이 머위대
멍게 메기 메론 명태 모과 모시조개 모자반 무 무순 무청 문어바지락 미꾸라지 미나리 미더덕 미역
민물돔 민물새우 민어 바나나 바다가재 바지락 박 밤 방울토마토 방풍나물 배 배추 백새우 백합 뱀장어
버섯 버섯류 병어 봄동배추 부세 부지갱이 부추 북방대합조개 붕어 붕장어 브로콜리 블루베리 비타민 비트 빙어
빨간양배추 사과 삼치 상추 새꼬막 새송이버섯  새싹 새우 새조개 샐러리 생강 석류 소라 속새 수삼
숙주나물 숫꽃게 시금치 쌈채류 쑥 쑥갓 씀바귀 아귀 아보카도 아스파라거스 아욱 알배기 알타리무 앵두 야자
야콘 양배추 양상추 양송이 양채류 양파 어류 얼갈이배추 연근 연어 열무 엽경채류 오렌지 오이 오징어
완두콩 용과 우럭조개 우뭇가사리 우엉 유채 임연수어 잉어 자라 자몽 장어 재첩 적겨자 적근대 적새우
적양배추 전복 조개 조기 죽순 중하 쪽파 쭈꾸미 참꼬막 참나물 참다래 참당귀 참외 참조기 청경채
청어 체리 총각무 취나물 치커리 컬리플라워 케일 코코넛 콜라비 콩 콩나물 키위 키조개 토마토 톳
파 파래김 파슬리 파인애플 파프리카 팽이버섯 포도 표고버섯 풋고추 피망 피조개 해삼 해파리 향어 호박
홍고추 홍어 홍합

In [259]:
### 예시
# df2[(df2['prd']=='유채') & (df2['price']==4500)]['prd'].unique()
# df2[df2['prd']=='유채']['prd'].unique()

In [260]:
### 원래 단어 뭐였는지 검색
# org_df[org_df['품목명'].str.contains('느')]['품목명'].unique()

In [261]:
### 현재 이름 검색
# df2[df2['prd']=='느']

In [262]:
###
# JG

# 고 -> 고수로 변경
df2.loc[df2["prd"]=="고","prd"] = "고수"
# 과실류, 과일류, 과채, 채소 -> 과채류로 통합
df2.loc[df2["prd"]=="과실류","prd"] = "과채류"
df2.loc[df2["prd"]=="과일류","prd"] = "과채류"
df2.loc[df2["prd"]=="과일","prd"] = "과채류"
df2.loc[df2["prd"]=="과채","prd"] = "과채류"
df2.loc[df2["prd"]=="채소","prd"] = "과채류"
# 고들빼 -> 고들빼기로 변경
df2.loc[df2["prd"]=="고들빼","prd"] = "고들빼기"
# 꼴뚜 -> 꼴두기로 변경
df2.loc[df2["prd"]=="꼴뚜","prd"] = "꼴뚜기"
# 그레이프푸룻 -> 자몽으로 통합
df2.loc[df2["prd"]=="그레이프푸룻","prd"] = "자몽"

# 느 -> 느타리버섯으로 통합
df2.loc[df2["prd"]=="느","prd"] = "느타리버섯"

# 대구 관련 품목들 정리
df2.loc[df2["prd"]=="대구고니","prd"] = "대구"
df2.loc[df2["prd"]=="대구머리","prd"] = "대구"
df2.loc[df2["prd"]=="대구포","prd"] = "대구"
# 듀리안 -> 두리안으로 통합
df2.loc[df2["prd"]=="듀리안","prd"] = "두리안"
# 딸 -> 딸기로 변경
df2.loc[df2["prd"]=="딸","prd"] = "딸기"

# 만가닥 -> 만가닥버섯으로 변경
df2.loc[df2["prd"]=="만가닥","prd"] = "만가닥버섯"
# 맛 -> 맛조개로 변경
df2.loc[df2["prd"]=="맛","prd"] = "맛조개"
# 망고스턴 -> 망고스틴으로 수정
df2.loc[df2["prd"]=="망고스턴","prd"] = "망고스틴"
# 메 -> 메기로 변경
df2.loc[df2["prd"]=="메","prd"] = "메기"
# 명태 관련 품목들 정리
df2.loc[df2["prd"]=="명태곤니","prd"] = "명태"
df2.loc[df2["prd"]=="명태알","prd"] = "명태"
df2.loc[df2["prd"]=="명태포","prd"] = "명태"
# 무우 -> 무로 통합
df2.loc[df2["prd"]=="무우","prd"] = "무"

# 방풍 -> 방풍나물로 통합
df2.loc[df2["prd"]=="방풍","prd"] = "방풍나물"
# 버섯류 -> 버섯으로 변경
df2.loc[df2["prd"]=="버섯","prd"] = "버섯"
# 벗,버찌 -> 체리로 통합
df2.loc[df2["prd"]=="벗","prd"] = "체리"
df2.loc[df2["prd"]=="버찌","prd"] = "체리"
# 브로커리, 브로코리 -> 브로콜리로 통합
df2.loc[df2["prd"]=="브로커리","prd"] = "브로콜리"
df2.loc[df2["prd"]=="브로코리","prd"] = "브로콜리"

# 삼 -> 수삼으로 변경
df2.loc[df2["prd"]=="삼","prd"] = "수삼"
# 새우살 -> 새우로 변경
df2.loc[df2["prd"]=="새우살","prd"] = "새우"
# 세러리, 셀러리 -> 샐러리로 통합
df2.loc[df2["prd"]=="세러리","prd"] = "샐러리"
df2.loc[df2["prd"]=="셀러리","prd"] = "샐러리"
# 생고추 -> 고추로 통합
df2.loc[df2["prd"]=="생고추","prd"] = "고추"

# 아보카드 -> 아보카도로 변경
df2.loc[df2["prd"]=="아보카드","prd"] = "아보카도"
# 아스파라가스 -> 아스파라거스로 변경
df2.loc[df2["prd"]=="아스파라가스","prd"] = "아스파라거스"
# 알 -> 알타리무로 변경
df2.loc[df2["prd"]=="알","prd"] = "알타리무"
# 알배 -> 알배기로 변경
df2.loc[df2["prd"]=="알배","prd"] = "알배기"
# 양채 -> 양채류로 통합
df2.loc[df2["prd"]=="양채","prd"] = "양채류"
# 얼갈이 -> 얼갈이배추로 통합
df2.loc[df2["prd"]=="얼갈이","prd"] = "얼갈이배추"
# 엽채류, 엽채 -> 엽경채류로 통합
df2.loc[df2["prd"]=="엽채류","prd"] = "엽경채류"
df2.loc[df2["prd"]=="엽채","prd"] = "엽경채류"
# 오징어 관련 품목들 정리
df2.loc[df2["prd"]=="오징어다리","prd"] = "오징어"
df2.loc[df2["prd"]=="오징어원양","prd"] = "오징어"
df2.loc[df2["prd"]=="오징어채","prd"] = "오징어"
df2.loc[df2["prd"]=="활복오징어","prd"] = "오징어"
# 옥, 풋옥 -> 옥수수로 정리
df2.loc[df2["prd"]=="옥","prd"] = "옥수수"
df2.loc[df2["prd"]=="풋옥","prd"] = "옥수수"
# 임연 -> 임연수어로 정리
df2.loc[df2["prd"]=="임연","prd"] = "임연수어"


# 절단 -> 절단쭈꾸미 -> 쭈꾸미로 정리
df2.loc[df2["prd"]=="절단","prd"] = "쭈꾸미"
# 조개살 -> 조개로 정리
df2.loc[df2["prd"]=="조개살","prd"] = "조개"

# 참조 -> 참조기로 정리
df2.loc[df2["prd"]=="참조","prd"] = "참조기"

# 칼라후라워,칼리플라워, 칼리후라워 -> 컬리플라워로 통합
df2.loc[df2["prd"]=="칼라후라워","prd"] = "컬리플라워"
df2.loc[df2["prd"]=="칼리플라워","prd"] = "컬리플라워"
df2.loc[df2["prd"]=="칼리후라워","prd"] = "컬리플라워"
# 코라비 -> 콜라비로 통합
df2.loc[df2["prd"]=="코라비","prd"] = "콜라비"
# 키조개날개 -> 키조개로 통합
df2.loc[df2["prd"]=="키조개날개","prd"] = "키조개"

# 팽이 -> 팽이버섯으로 통합
df2.loc[df2["prd"]=="팽이","prd"] = "팽이버섯"
# 파세리 -> 파슬리로 변경
df2.loc[df2["prd"]=="파세리","prd"] = "파슬리"
# 표고 -> 표고버섯으로 통합
df2.loc[df2["prd"]=="표고","prd"] = "표고버섯"
# 포장바지락 -> 바지락으로 변경
df2.loc[df2["prd"]=="포장바지락","prd"] = "바지락"

### 일단 여기까지 실행
# JY
#각굴 -> 굴로 통합
df2.loc[df2["prd"]=="각굴","prd"] = "굴"
# 게지 -> 키조개로 통합
df2.loc[df2["prd"]=="게지","prd"] = "키조개"
#고 -> 고구마로 통합
df2.loc[df2["prd"]=="고","prd"] = "고구마"
#꼴뚜 -> 꼴뚜기로 통합
df2.loc[df2["prd"]=="꼴뚜","prd"] = "꼴뚜기"
#돗나물 -> 돌나물로 통합
df2.loc[df2["prd"]=="돗나물","prd"] = "돌나물"
#레드쉬 -> 레디쉬로 통합
df2.loc[df2["prd"]=="레드쉬","prd"] = "레디쉬"
#만가닥 -> 만가닥버섯으로 통합
df2.loc[df2["prd"]=="만가닥","prd"] = "만가닥버섯"
#메 -> 메기로 통합
df2.loc[df2["prd"]=="메","prd"] = "메기"
#백조 -> 조기로 통합 
df2.loc[df2["prd"]=="백조","prd"] = "조기"
#봄동 -> 봄동배추로 통합
df2.loc[df2["prd"]=="봄동","prd"] = "봄동배추"
#봉지굴 -> 굴로 통합
df2.loc[df2["prd"]=="봉지굴","prd"] = "굴"
#붉은고추 -> 홍고추로 통합 
df2.loc[df2["prd"]=="붉은고추","prd"] = "홍고추"
#비 - > 비타민으로 통합
df2.loc[df2["prd"]=="비","prd"] = "비타민"
#빈스 -> 콩으로 통합
df2.loc[df2["prd"]=="빈스","prd"] = "콩"
#새송이 -> 새송이버섯으로 통합
df2.loc[df2["prd"]=="새송이","prd"] = "새송이버섯 "
#선동오징어 -> 오징어로 통합
df2.loc[df2["prd"]=="선동오징어","prd"] = "오징어"
#세트 -> 과채류로 통합
df2.loc[df2["prd"]=="세트","prd"] = "과채류"
#알 -> 알로애로 통합
df2.loc[df2["prd"]=="알","prd"] = "알로에"
#오징어 관련 품목들 정리
df2.loc[df2["prd"]=="선동오징어","prd"] = "오징어"
df2.loc[df2["prd"]=="오징어몸통","prd"] = "오징어"
#오만둥이 -> 미더덕으로 통합
df2.loc[df2["prd"]=="오만둥이","prd"] = "미더덕"
#우렁쉥이 -> 멍게로 통합
df2.loc[df2["prd"]=="우렁쉥이","prd"] = "멍게"
#우뭇가시리 -> 우뭇가사리로 통합
df2.loc[df2["prd"]=="우뭇가시리","prd"] = "우뭇가사리"
#염고등어 -> 고등어로 통합
df2.loc[df2["prd"]=="염고등어","prd"] = "고등어"
#절단낙지 -> 낙지로 통합
df2.loc[df2["prd"]=="절단낙지","prd"] = "낙지"
#적채 -> 적양배추로 통합
df2.loc[df2["prd"]=="적채","prd"] = "적양배추"
#청어원양 -> 청어로 통합
df2.loc[df2["prd"]=="청어원양","prd"] = "청어"
#키조개꼭지 -> 키조개로 통합
df2.loc[df2["prd"]=="키조개꼭지","prd"] = "키조개"

In [294]:
# 첫 데이터기 때문에 products 파일 생성
# 기존 products 리스트와 비교
products = pd.DataFrame(df2['prd'].unique(),columns=['prd'])

In [295]:
products.to_csv('../products.csv')

In [266]:
# 전체 거래량과 품목량
# 비교를 위해 분포 파악
# 거래량이 너무 적은 품목은 삭제할 필요성이 있음

prd_lst = (df2['prd'].value_counts()).to_frame()
prd_lst.describe()

              prd
count   229.00000
mean   1768.61572
std    4813.67864
min       1.00000
25%      11.00000
50%     103.00000
75%     882.00000
max   43214.00000

In [267]:
# 50개 미만 품목은 비교가 힘드므로 삭제
# 줄어든 종류만 남기기

prd_lst = prd_lst[prd_lst['prd']>=50]
prd_lst.reset_index(inplace=True)
prd_lst = prd_lst.rename(columns = {'index':'prd','prd':'count'})

In [268]:
df3 = df2.merge(prd_lst)
df3[df3['count']>=50]['prd'].value_counts()

딸기      43214
버섯      30818
오이      17348
양채류     16642
감귤      16442
        ...
미꾸라지       59
해삼         55
석류         54
김          53
곤달비        51
Name: prd, Length: 135, dtype: int64

In [269]:
# 줄어든 것 확인했으므로 count column은 삭제
df3 = df3.drop(columns='count')


### scale

In [270]:
np.set_printoptions(precision=2, suppress=True)
df3['scale'].unique()

array([    5.  ,     4.5 ,     2.  ,    10.  ,     1.5 ,     4.  ,
          16.5 ,     5.1 ,     5.4 ,     6.  ,    18.  ,     8.  ,
           5.01,     7.  ,    47.  ,    16.  ,     8.5 ,    20.  ,
          41.  ,     3.  ,    13.  ,     2.9 ,    50.  ,     3.8 ,
           3.9 ,     2.8 ,     4.1 ,     4.2 ,     4.3 ,     1.  ,
           3.1 ,    11.  ,     7.5 ,    14.  ,     0.5 ,     2.5 ,
           0.8 ,     9.  ,     9.6 ,     1.2 ,    15.  ,     2.4 ,
           5.45,    30.  ,     7.2 ,     2.6 ,     9.5 ,    13.5 ,
           6.5 ,    21.  ,     9.8 ,    12.  ,     9.7 ,     3.6 ,
           0.1 ,     3.3 ,     4.4 ,     6.7 ,    15.5 ,     6.75,
          11.5 ,     3.2 ,     5.5 ,     3.5 ,     2.3 ,     7.6 ,
          17.  ,     9.4 ,     0.2 ,     0.3 ,    12.5 ,     6.4 ,
           8.4 ,    11.4 ,     4.8 ,     2.7 ,     0.25,     0.13,
           0.05,     0.9 ,     0.6 ,     0.7 ,    11.2 ,    10.5 ,
           0.15,    24.  ,    22.  ,    23.  ,     0.4 ,     1.6 ,
          25.  ,     2.2 ,     2.1 ,     3.4 ,     4.7 ,     4.6 ,
           3.7 ,     1.8 ,     1.56,     1.7 ,     1.9 ,     1.73,
          10.2 ,    10.01,     0.66,     1.01,     1.02,     0.75,
          21.5 ,    22.5 ,    21.8 ,   215.  , 10000.  , 20000.  ,
       15000.  ,    45.  ,     1.4 ,     1.3 ,     1.1 ,    40.  ,
         125.  ,    14.4 ,    10.9 ,     7.25,     0.03,    19.  ,
           0.12,     0.17,     0.64,     0.24,     0.48,     0.32,
           0.54,     8.01,   120.  ,     0.52,    16.01,   101.  ,
         185.  ,    10.3 ,     8.25,    26.  ,     9.3 ,     7.1 ,
          11.3 ,     7.4 ,     8.7 ,     8.1 ,     6.9 ,     7.8 ,
           6.2 ,    14.3 ,    13.3 ,     5.3 ,     8.2 ,    19.2 ,
          19.6 ,    20.3 ,    12.8 ,    11.6 ,    15.6 ,    16.8 ,
           6.6 ,    10.6 ,    10.8 ,    16.15,     9.72,     0.65,
          17.5 ,     0.35,    13.6 ,    15.4 ,    13.2 ,    12.1 ,
          11.7 ,    21.6 ,    22.4 ,    18.4 ,    19.8 ,    20.8 ,
           9.2 ,     0.45,    23.4 ,    23.1 ,    16.9 ,     8.8 ,
          19.5 ,    15.2 ,    11.9 ,    18.6 ,    16.4 ,    18.2 ,
          12.7 ,     5.6 ,    11.8 ,    16.2 ,    16.1 ,    10.44,
          12.6 ,     0.56,     8.6 ,     7.3 ,    29.  ,    27.  ,
          28.  ,    17.6 ,     5.7 ,     6.3 ,     4.9 ,     8.3 ,
          32.  ,     5.2 ,     7.7 ,     6.1 ,     6.8 ,     5.8 ,
           0.63,     0.  ,   110.  ,   135.  ,    60.  ,     3.75,
           3.72,    87.  ,    11.01])

In [271]:
# 50kg 이상 거래된 건들 이상치라 판단하고 확인 진행
df3[df3['scale']>=50]

,prd,scale,price,origin,eco,reg_date,new_class,price_kg
5351,굴,50.00000,16000,경남 통영,normal,2021-01-16,3,320.00000
5358,굴,50.00000,15000,경남 통영,normal,2021-01-16,3,300.00000
137584,명태,215.00000,49000,수입 러시아,normal,2021-01-20,3,227.91000
137870,무,10000.00000,1650000,전북 고창군,normal,2021-01-04,1,165.00000
137871,무,10000.00000,1620000,전북 고창군,normal,2021-01-04,1,162.00000
137873,무,10000.00000,3380000,전북 고창군,normal,2021-01-04,1,338.00000
137874,무,10000.00000,1020000,전북 고창군,normal,2021-01-04,1,102.00000
137875,무,10000.00000,2750000,전북 고창군,normal,2021-01-04,1,275.00000
137876,무,10000.00000,4100000,전북 고창군,normal,2021-01-04,1,410.00000
137877,무,10000.00000,4460000,전북 고창군,normal,2021-01-04,1,446.00000
137879,무,10000.00000,3410000,전북 고창군,normal,2021-01-04,1,341.00000
137880,무,10000.00000,2250000,전남 무안군,normal,2021-01-04,1,225.00000
138089,무,10000.00000,4690000,전북 고창군,normal,2021-01-05,1,469.00000
138090,무,20000.00000,4050000,전북 고창군,normal,2021-01-05,1,202.50000
138091,무,10000.00000,4330000,전북 고창군,normal,2021-01-05,1,433.00000
138092,무,10000.00000,4370000,전북 고창군,normal,2021-01-05,1,437.00000
138284,무,10000.00000,3380000,전북 고창군,normal,2021-01-06,1,338.00000
138285,무,10000.00000,3500000,전북 고창군,normal,2021-01-06,1,350.00000
138286,무,15000.00000,3520000,전북 고창군,normal,2021-01-06,1,234.67000
138287,무,10000.00000,2240000,전북 고창군,normal,2021-01-06,1,224.00000
138288,무,10000.00000,3220000,전북 고창군,normal,2021-01-06,1,322.00000
138289,무,10000.00000,300000,전남 무안군,normal,2021-01-06,1,30.00000
138290,무,10000.00000,1580000,전북 고창군,normal,2021-01-06,1,158.00000
138291,무,10000.00000,1720000,전북 고창군,normal,2021-01-06,1,172.00000
138292,무,10000.00000,1880000,전북 고창군,normal,2021-01-06,1,188.00000
138502,무,10000.00000,3290000,전북 고창군,normal,2021-01-07,1,329.00000
138503,무,10000.00000,2580000,전북 고창군,normal,2021-01-07,1,258.00000
138504,무,10000.00000,1590000,전북 고창군,normal,2021-01-07,1,159.00000
138505,무,10000.00000,1770000,전북 고창군,normal,2021-01-07,1,177.00000
138506,무,10000.00000,3010000,전북 고창군,normal,2021-01-07,1,301.00000
139083,무,10000.00000,1400000,전북 고창군,normal,2021-01-12,1,140.00000
139084,무,10000.00000,1860000,전북 고창군,normal,2021-01-12,1,186.00000
139252,무,10000.00000,1230000,전북 고창군,normal,2021-01-13,1,123.00000
139253,무,10000.00000,1960000,전북 고창군,normal,2021-01-13,1,196.00000
141632,무,10000.00000,2450000,전남 무안군,normal,2021-01-26,1,245.00000
147649,배,125.00000,52000,경기 이천시 장호원읍,normal,2021-01-04,1,416.00000
147652,배,125.00000,51000,경기 이천시 장호원읍,normal,2021-01-04,1,408.00000
152388,배,125.00000,42000,경기 이천시 장호원읍,normal,2021-01-04,2,336.00000
152389,배,125.00000,32000,경기 이천시 장호원읍,normal,2021-01-04,2,256.00000
152396,배,125.00000,43000,경기 이천시 장호원읍,normal,2021-01-04,2,344.00000
153502,배,125.00000,30000,경기 이천시 장호원읍,normal,2021-01-04,5,240.00000
153503,배,125.00000,27000,경기 이천시 장호원읍,normal,2021-01-04,5,216.00000
153504,배,125.00000,24000,경기 이천시 장호원읍,normal,2021-01-04,5,192.00000
211563,사과,120.00000,24000,충북 괴산군,normal,2021-01-29,2,200.00000
252525,오이,101.00000,12000,경남,normal,2021-01-06,3,118.81000
255450,오이,101.00000,32000,경남,normal,2021-01-06,1,316.83000
257789,오이,185.00000,46000,경기 안성시,normal,2021-01-13,1,248.65000
264703,오이,101.00000,21500,경남,normal,2021-01-06,2,212.87000
373957,만감,110.00000,35000,제주 제주시,normal,2021-01-06,1,318.18000
373977,만감,110.00000,32000,제주 제주시,normal,2021-01-06,1,290.91000
380511,바나나,135.00000,9500,에콰돌,normal,2021-01-08,1,70.37000
380512,바나나,135.00000,10500,에콰돌,normal,2021-01-08,1,77.78000
380513,바나나,135.00000,10000,에콰돌,normal,2021-01-08,1,74.07000
381633,바나나,60.00000,18000,필리핀,normal,2021-01-21,1,300.00000
389336,양상추,87.00000,24000,전남 영암군,normal,2021-01-19,1,275.86000

In [272]:
# df3[(df3['prd']=='양상추')&(df3['scale']>10)]
# df3[(df3['prd']=='배')]

In [273]:
# 스케일 오표기된 항목 수정
# 무는 kg 당 가격 확인 결과 실제 거래

# df2.loc[(df2['prd']=='당근') & (df2['scale']==200),'scale'] = 20

In [274]:
# 나머지는 이상치로 판단하고 모두 삭제
df3 = df3.drop(df3[(df3['scale']>=50)&(df3['prd']!='배')].index)
df3 = df3.drop(df3[(df3['scale']>=50)&(df3['prd']!='무')].index)

In [275]:
df3[df3['scale']>=50]

Empty DataFrame
Columns: [prd, scale, price, origin, eco, reg_date, new_class, price_kg]
Index: []

### origin

In [276]:
# 도,시, 국산, 수입 표기 분류 필요
df3['origin'].unique()

array(['경남 남해', '경남 마산(고성,진해)', '수입 중국', '경남 통영', '전남 여수', '경남 삼천포',
       '수입 러시아', '수입 미국', '전북 군산', '국내산', '경남 고성군', '경남 밀양시', '경남 진주시',
       '경남 창녕군', '경남 합천군', '경북 고령군', '경북 상주시', '대구 달성군', '경기 여주시',
       '경남 김해시', '경기 이천시', '경남 거제시', '경남 함안군', '전북 군산시', '광주시 광산구',
       '전북 임실군', '광주 광산구', '경기 여주군', '전남 나주시', '충남 논산시', '전북 익산시',
       '경북 성주군', '전북 전주시', '경기 안성시 일죽면', '경남 창원시', '전북 완주군', '경남 의령군',
       '경기 양평군', '충남 부여군', '전남 광양시', '경남 김해시 대동면', '경남', '광주시 남구',
       '경기 안성시 고삼면', '서울', '경남 밀양시 단장면', '경남 진주시 금곡면', '충남 서천군',
       '전남 고흥군 영남면', '경기 하남시', '전남 고흥(나로도)', '충남 서산', '수입 세네갈', '제주 제주도',
       '수입 기타', '수입남아프리카공화국', '제주 제주시', '제주', '제주 서귀포시', '제주 서귀포시(2)',
       '제주 북제주군', '제주 남제주군', '제주특별자치도 서귀', '제주 서귀포', '제주특별자', '제주 북제주',
       '제주도 서귀포시', '제주도 제주시', '전남 여수시', '경기 평택시', '전남 해남군', '충북 충주시',
       '경남 산청군', '전남 완도군', '경기 안성시', '전남 보성군', '경기 광주시', '전남 무안군',
       '전남 고흥군', '경북 청송군', '서울 중구', '충북 진천군', '전남 장흥군', '전남 장성군', '광주 북구',
       '경남 사천시', '전남 담양군', '대전 유성구', '제주 제주시(2)', '강원 인제군', '경기 성남시',
       '강원 평창군', '전북 김제시 광활면', '강원 강릉시', '경북 예천군', '전북 부안군', '강원 홍천군',
       '전북 고창군', '경북 김천시', '전북 남원시', '강원 정선군', '전북 김제시', '충남 청양군',
       '경북 구미시', '강원', '충남 금산군', '충남 태안군', '강원 평창군 진부면', '경기 시흥시',
       '충남 예산군', '충남 당진시', '인천', '강원 화천군', '경북 봉화군', '충남 서산시', '강원 원주시',
       '강원 철원군', '강원도 평창군', '강원 춘천시', '경북 영주시', '충남 홍성군', '충북 제천시',
       '전주시 덕진구', '경기 부천시', '경북 안동시', '강원 횡성군', '충북 괴산군', '충남 당진시 신평면',
       '경남 밀양시 무안면', '세종 세종시', '충남', '전남 신안군 비금면', '강원 홍천군 내면',
       '전라북도 김제시', '서울 강서구', '수입 베트남', '수입 바레인', '수입 파키스탄', '충남 장항(서천)',
       '전남 장항', '인천시 강화군', '전남 영암군', '충남 아산시', '인천 강화군', '충남 천안시 동남구',
       '전라북도 익산시', '충남 천안시', '충남 보령시', '충북 음성군', '서울 송파구', '충남 태안군 남면',
       '전북', '경기 고양시', '수입 노르웨이', '광주 남구', '경남 하동군', '경남 마산시', '충남 공주시',
       '광주 서구', '경남 창원시 의창구', '충북 청원군', '서울 강동구', '충북 영동군', '강원 고성군',
       '전남 신안군', '전남 화순군', '전남 진도군', '서울 중랑구', '경기 양주시', '경기 파주시',
       '경기 남양주시', '서울 도봉구', '경기 포천시', '서울 동대문구', '경기 용인시', '경기 구리시',
       '서울 양천구', '경기 광명시', '경기 의왕시', '경북 경산시', '대구 동구', '경기 용인시 기흥구',
       '경북 영양군', '성남시 중원구', '중국', '경기 의정부시', '전남 영광군', '경북 영천시',
       '성남시 분당구', '경북 포항시', '전북 정읍시', '경기 고양시 일산서구', '경북 고령군 다산면',
       '성남시 수정구', '경북 영덕군', '포항시 북구', '대전 대덕구', '경기도 고양시', '충북 충주시 가금면',
       '경기 의정부', '충남 논산시 양촌면', '충남 당진시 합덕읍', '충남 당진시 면천면', '충북 제천시 금성면',
       '경기', '경기도 광주군', '강원 양구군', '경북', '경기 포천군', '대전 서구', '울산 북구',
       '제주 남제주', '전남 장흥', '전남 완도', '전북 부안', '전남 순천(광양)', '대전 동구',
       '경남 함안군 칠북면', '경남 창원시 성산구', '경남 창원시 동읍', '전남 순천시', '서울특별시 동대문구',
       '부산 기장군', '수입산 중국', '제주 제주시 구좌읍', '경기 인천', '경남 거창군', '경남 함양군',
       '전남 곡성군', '전북 순창군', '전라북도 남원시', '충청남도 논산시', '경남 거창군 가조면', '전남 강진군',
       '경기도 파주시', '경기 용인시 처인구', '전라북도 남', '전북 장수군', '경기도 부천시', '경북 청도군',
       '수입산 미국', '전남 곡성군 고달면', '충남 논산시 가야곡면', '대구', '경기도 남양주시', '경남 남해군',
       '경북 의성군', '인천 중구', '전남 광양시 봉강면', '전남 강진', '필리핀', '수입산 필리핀',
       '전라남도 곡성군', '경남 함안군 함안면', '전남', '경상남도 진주시', '미국', '광주시 서구',
       '전남 순천시 낙안면', '전남 곡성군 죽곡면', '전남 광양시 다압면', '경기 양주시 백석읍',
       '전남 장흥군 관산읍', '강원 춘천시 신북읍', '강원도 철원군', '전북 진안군', '서울시 강서구',
       '강원도 춘천시', '경기도 양주군', '강원도 횡성군', '충북 옥천군', '경기도 평택시', '경기 화성시',
       '충남 연기군', '경기도 안성시', '경기 오산시', '경기 이천시 장호원읍', '경기 이천시 설성면',
       '충청남도 아산시', '경기 수원시', '경기 김포시', '경기 평택시 안중읍', '세종', '경기 이천시 부발읍',
       '경기 이천시 대월면', '전남 나주시 공산면', '경기도 김포시', '경기 평택시 고덕면', '경기 여주시 가남읍',
       '경기 안양시', '전남 목포시', '경기 가평군', '경기 안성시 공도읍', '전남 함평군', '충북 증평군 증평읍',
       '경북 문경시', '충북 음성군 맹동면', '충북 증평군', '강원 영월군', '경북 상주시 공검면', '강원 삼척시',
       '인천 남동구', '강원 양양군', '충북 청주시', '강원 태백시', '경기 화성군', '청주시 흥덕구',
       '청주시 상당구', '세종시', '경기도 여주군', '전남 구례군', '강원 동해시', '전북 익산시 망성면',
       '경북 영주시 부석면', '경북 영천시 화남면', '경북 영주시 봉현면', '경북 영주시 단산면', '충북',
       '전북 무주군', '경북 경주시', '경북 상주시 화남면', '충북 보은군', '대구 북구', '충북 단양군',
       '경북 군위군', '경기도 시흥시', '서울시 도봉구', '서울시 양천구', '경기도 광명시', '충남 논산시 상월면',
       '경기 양주군', '강원 속초시', '인천시 계양구', '충남 계룡시', '충남 논산시 강경읍',
       '경기 여주시 대신면', '충남 논산시 연무읍', '서울 강남구', '경북 김천시 조마면', '수입 페루',
       '수입 아르헨티나', '수입 에콰도르', '수입 캐나다', '수입 인도', '수입 대만', '서울시 은평구',
       '서울 은평구', '경북 영덕군 영해면 3', '경기 고양시 덕양구', '경북 포항시남구', '경기 고양시덕양구',
       '경기 고양시일산구', '충북 진천군 이월면', '포항시 남구', '경북 경주시 감포읍', '경북 포항시북구',
       '인천 부평구', '인천 계양구', '대구 중구', '대구 달서구', '충남 서산시 고북면', '경북/문경시',
       '부산 강서구', '강원도 홍천군', '일본', '대전', '전남 고흥군 점암면', '충남 논산시 부적면', '광주',
       '광주 광주', '강원 철원군 김화읍', '원양산', '수입 칠레', '수입 타이', '전남 목포(무안)',
       '경상남도 창원시', '부산', '서울 구로구', '부산 부산진구', '서울 금천구', '부산 중구',
       '경기도 가평군', '경기도 화성군', '부산시 강서구', '경기 안산시', '서울 동대문', '인천 남구',
       '인천 미추홀구', '경기 남양주', '전남 해남군 계곡면', '충남 천안시 광덕면', '경남 고성군 영오면',
       '수입산 통가', '수입산 뉴칼레도니아', '통가', '뉴칼레도니아', '뉴 칼레도니아', '경남 의령군 화정면',
       '뉴질랜드', '수입산 뉴질랜드', '강원 횡성군 공근면', '경북 영주시 장수면', '누벨칼레도니', '부산 동구',
       '경북 김천시 감문면', '경남 밀양시 부북면', '경기도 하남시', '경남 진주시 대곡면', '강원 홍천군 내촌면',
       '경남 함안군 칠서면', '인천시 부평구', '인천광역시 남구', '인천광역시', '울산', '페루', '수입산 페루',
       '대전시 동구', '칠레', '멕시코', '수입산 칠레', '경기 용인시 모현면', '충남 홍성군 은하면',
       '충남 천안시 서북구', '충남 아산시 둔포면', '경기 의왕시 초평로 1', '충남 아산시 도고면',
       '전북 정읍시 감곡면', '대구 남구', '베트남', '이란', '수입산 베트남', '러시아', '경기 양평군 지제면',
       '경북 울진군', '전남 신안군 자은면', '충북청주시상당구', '경기 여주시 북내면', '전남 신안군 임자면',
       '경기 이천시 백사면', '충북 청주시 없음', '수입산 멕시코', '전남 여수시 남면', '제주 서귀포시 서귀동',
       '태국', '호주', '서울 서초구', '수입산 태국', '타이', '경남 양산시', '울산 울주군',
       '전주시 완산구', '전남 나주시 노안면', '경남 양산시 동면', '콜롬비아', '과테말라', '에콰도르',
       '인도네시아', '에쿠아도르', '에콰돌', '수입산 콜롬비아', '수입산 에콰도르', '수입산 과테말라',
       '수입산 인도네시아', '수입산 이스라엘', '코스타리카', '수입산 코스타리카', '경기 성남시수정구',
       '경기 안성시 양성면', '이스라엘', '수입산 호주', '수입산 대만', '대만', '경기도 용인시',
       '수입산 아르헨티나', '오스트레일리아', '아르헨티나', '기타외국', '수입산 남아공산', '수입산 아르메니아',
       '남아프리카', '스페인', '남아프리카공화국', '경남 마산시합포구', '수입산 이탈리아', '서울 영등포',
       '경기 광주시 오포읍'], dtype=object)

In [277]:
# 해당 조건에 맞는 값 추출

splits = df3['origin'].str.split(' ')
cacul = splits.apply(lambda x: pd.Series(x))
df66 = pd.merge(df3,cacul, left_index=True, right_index=True, how='inner')
df66

,prd,scale,price,origin,eco,reg_date,new_class,price_kg,0,1,2,3
0,가리비,5.00000,24000,경남 남해,normal,2021-01-04,3,4800.00000,경남,남해,NaN,NaN
1,가리비,5.00000,22000,"경남 마산(고성,진해)",normal,2021-01-04,3,4400.00000,경남,"마산(고성,진해)",NaN,NaN
2,가리비,5.00000,23000,경남 남해,normal,2021-01-04,3,4600.00000,경남,남해,NaN,NaN
3,가리비,5.00000,25000,"경남 마산(고성,진해)",normal,2021-01-04,3,5000.00000,경남,"마산(고성,진해)",NaN,NaN
4,가리비,5.00000,23500,"경남 마산(고성,진해)",normal,2021-01-04,3,4700.00000,경남,"마산(고성,진해)",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
403877,체리,5.00000,50000,칠레,normal,2021-01-19,2,10000.00000,칠레,NaN,NaN,NaN
403878,체리,5.00000,55000,칠레,normal,2021-01-21,2,11000.00000,칠레,NaN,NaN,NaN
403879,체리,5.00000,20000,칠레,normal,2021-01-04,9,4000.00000,칠레,NaN,NaN,NaN
403880,체리,5.00000,15000,칠레,normal,2021-01-09,9,3000.00000,칠레,NaN,NaN,NaN
403881,체리,5.00000,10000,칠레,normal,2021-01-12,9,2000.00000,칠레,NaN,NaN,NaN

In [278]:
# 세부 카테고리 정리 (state, city 편집 시 여기서 시작)

df4 = df66.rename(columns = {0:'state',1:'city'})

# 2,3은 필요없는 정보이므로 삭제
df4 = df4.drop(columns=[2,3])

In [279]:
df4['state'].unique()

array(['경남', '수입', '전남', '전북', '국내산', '경북', '대구', '경기', '광주시', '광주', '충남',
       '서울', '제주', '수입남아프리카공화국', '제주특별자치도', '제주특별자', '제주도', '충북', '대전',
       '강원', '인천', '강원도', '전주시', '세종', '전라북도', '인천시', '성남시', '중국', '포항시',
       '경기도', '울산', '서울특별시', '부산', '수입산', '충청남도', '필리핀', '전라남도', '경상남도',
       '미국', '서울시', '청주시', '세종시', '경북/문경시', '일본', '원양산', '부산시', '통가',
       '뉴칼레도니아', '뉴', '뉴질랜드', '누벨칼레도니', '인천광역시', '페루', '대전시', '칠레', '멕시코',
       '베트남', '이란', '러시아', '충북청주시상당구', '태국', '호주', '타이', '콜롬비아', '과테말라',
       '에콰도르', '인도네시아', '에쿠아도르', '에콰돌', '코스타리카', '이스라엘', '대만', '오스트레일리아',
       '아르헨티나', '기타외국', '남아프리카', '스페인', '남아프리카공화국'], dtype=object)

In [280]:
# 시,도 제거
def name_sort(words):
  p = re.compile('[^시도]+')
  word = re.search(p,str(words))
  return word.group()

df4["state"] = df4["state"].apply(name_sort)

# 오타도 제거

def name_sort2(words):
  p = re.compile('[^\t]+')
  word = re.search(p,words)
  return word.group()

df4["state"] = df4["state"].apply(name_sort2)

In [281]:
df4["state"].unique()

array(['경남', '수입', '전남', '전북', '국내산', '경북', '대구', '경기', '광주', '충남', '서울',
       '제주', '수입남아프리카공화국', '제주특별자치', '제주특별자', '충북', '대전', '강원', '인천',
       '전주', '세종', '전라북', '성남', '중국', '포항', '울산', '서울특별', '부산', '수입산',
       '충청남', '필리핀', '전라남', '경상남', '미국', '청주', '경북/문경', '일본', '원양산', '통가',
       '뉴칼레', '뉴', '뉴질랜드', '누벨칼레', '인천광역', '페루', '칠레', '멕', '베트남', '이란',
       '러', '충북청주', '태국', '호주', '타이', '콜롬비아', '과테말라', '에콰', '인', '에쿠아',
       '에콰돌', '코스타리카', '이스라엘', '대만', '오스트레일리아', '아르헨티나', '기타외국', '남아프리카',
       '스페인', '남아프리카공화국'], dtype=object)

In [282]:
# state
# 특이케이스 제거

# 국내
df4.loc[df4["state"]=="국내산","city"] = "미상"
df4.loc[df4["state"]=="국내산","state"] = "국산"
df4.loc[df4["state"]=="원양산","city"] = "미상"

## 도단위
df4.loc[df4["state"]=="충청북","state"] = "충북"
df4.loc[df4["state"]=="충청남","state"] = "충남"
df4.loc[df4["state"]=="전라북","state"] = "전북"
df4.loc[df4["state"]=="전라남","state"] = "전남"
df4.loc[df4["state"]=="경상북","state"] = "경북"
df4.loc[df4["state"]=="경상남","state"] = "경남"

## 시단위
### 광역시

df4.loc[df4["state"]=="대전","city"] = "대전"
df4.loc[df4["state"]=="대구","city"] = "대구"
df4.loc[df4["state"]=="서울특별","city"] = "서울"
df4.loc[df4["state"]=="서울특별","state"] = "서울"
df4.loc[df4["state"]=="인천광역","city"] = "인천"
df4.loc[df4["state"]=="인천광역","state"] = "인천"
df4.loc[df4["state"]=="부산","city"] = "부산"
df4.loc[df4["state"]=="가락동","city"] = "서울"
df4.loc[df4["state"]=="가락동","state"] = "서울"
df4.loc[df4["state"]=="세종","city"] = "세종"
df4.loc[df4["state"]=="대전","city"] = "대전"
df4.loc[df4["state"]=="제주","city"] = "제주"
df4.loc[df4["state"]=="제주특별자치","city"] = "제주"
df4.loc[df4["state"]=="제주특별자치","state"] = "제주"
df4.loc[df4["state"]=="제주특별자","city"] = "제주"
df4.loc[df4["state"]=="제주특별자","state"] = "제주"
df4.loc[df4["state"]=="세종","city"] = "세종"
df4.loc[df4["state"]=="울산","city"] = "울산"
df4.loc[df4["state"]=="울산","state"] = "울산"

### 일반시
df4.loc[df4["state"]=="성남","city"] = "성남"
df4.loc[df4["state"]=="성남","state"] = "경기"
df4.loc[df4["state"]=="전주","city"] = "전주"
df4.loc[df4["state"]=="전주","state"] = "전북"
df4.loc[df4["state"]=="청주","city"] = "청주"
df4.loc[df4["state"]=="청주","state"] = "충북"
df4.loc[df4["state"]=="수원","city"] = "수원"
df4.loc[df4["state"]=="수원","state"] = "경기"
df4.loc[df4["state"]=="부천","city"] = "부천"
df4.loc[df4["state"]=="부천","state"] = "경기"
df4.loc[df4["state"]=="경기고양","city"] = "고양"
df4.loc[df4["state"]=="경기고양","state"] = "경기"
df4.loc[df4["state"]=="충북청주","city"] = "청주"
df4.loc[df4["state"]=="충북청주","state"] = "충북"
df4.loc[df4["state"]=="전북전주","city"] = "전주"
df4.loc[df4["state"]=="전북전주","state"] = "전북"
df4.loc[df4["state"]=="경북/문경","city"] = "문경"
df4.loc[df4["state"]=="경북/문경","state"] = "경북"
df4.loc[df4["state"]=="포항","city"] = "포항"
df4.loc[df4["state"]=="포항","state"] = "경북"


# 외국
## 아시아
df4.loc[df4["state"]=="칠레","city"] = "칠레"
df4.loc[df4["state"]=="칠레","state"] = "수입"
df4.loc[df4["state"]=="일본","city"] = "일본"
df4.loc[df4["state"]=="일본","state"] = "수입"
df4.loc[df4["state"]=="베트남","city"] = "베트남"
df4.loc[df4["state"]=="베트남","state"] = "수입"
df4.loc[df4["state"]=="우즈베크","city"] = "우즈베키스탄"
df4.loc[df4["state"]=="우즈베크","state"] = "수입"
df4.loc[df4["state"]=="이스라엘","city"] = "이스라엘"
df4.loc[df4["state"]=="이스라엘","state"] = "수입"
df4.loc[df4["state"]=="터키","city"] = "터키"
df4.loc[df4["state"]=="터키","state"] = "수입"
df4.loc[df4["state"]=="중국","city"] = "중국"
df4.loc[df4["state"]=="중국","state"] = "수입"
df4.loc[df4["state"]=="타이","city"] = "태국"
df4.loc[df4["state"]=="타이","state"] = "수입"
df4.loc[df4["state"]=="태국","city"] = "태국"
df4.loc[df4["state"]=="태국","state"] = "수입"
df4.loc[df4["state"]=="필리핀","city"] = "필리핀"
df4.loc[df4["state"]=="필리핀","state"] = "수입"
df4.loc[df4["state"]=="우즈베키스탄","city"] = "우즈베키스탄"
df4.loc[df4["state"]=="우즈베키스탄","state"] = "수입"
df4.loc[df4["state"]=="대만","city"] = "대만"
df4.loc[df4["state"]=="대만","state"] = "수입"
df4.loc[df4["state"]=="베트남","city"] = "베트남"
df4.loc[df4["state"]=="베트남","state"] = "수입"
df4.loc[df4["state"]=="이란","city"] = "이란"
df4.loc[df4["state"]=="이란","state"] = "수입"
df4.loc[df4["state"]=="러","city"] = "러시아"
df4.loc[df4["state"]=="러","state"] = "수입"
df4.loc[(df4["state"]=="인")&(df4["origin"]=="인도네시아"),"city"] = "인도네시아"
df4.loc[(df4["state"]=="인")&(df4["origin"]=="인도네시아"),"state"] = "수입"
df4.loc[(df4["state"]=="인")&(df4["origin"]=="인도"),"city"] = "인도"
df4.loc[(df4["state"]=="인")&(df4["origin"]=="인도"),"state"] = "수입"

## 아메리카

df4.loc[df4["state"]=="캘리포니아","city"] = "미국"
df4.loc[df4["state"]=="캘리포니아","state"] = "수입"
df4.loc[df4["state"]=="포클랜드","city"] = "영국"
df4.loc[df4["state"]=="포클랜드","state"] = "수입"
df4.loc[df4["state"]=="콜롬비아","city"] = "콜롬비아"
df4.loc[df4["state"]=="콜롬비아","state"] = "수입"
df4.loc[df4["state"]=="에콰","city"] = "에콰도르"
df4.loc[df4["state"]=="에콰","state"] = "수입"
df4.loc[df4["state"]=="에쿠아","city"] = "에콰도르"
df4.loc[df4["state"]=="에쿠아","state"] = "수입"
df4.loc[df4["state"]=="에콰돌","city"] = "에콰도르"
df4.loc[df4["state"]=="에콰돌","state"] = "수입"
df4.loc[df4["state"]=="과테말라","city"] = "과테말라"
df4.loc[df4["state"]=="과테말라","state"] = "수입"
df4.loc[df4["state"]=="코스타리카","city"] = "코스타리카"
df4.loc[df4["state"]=="코스타리카","state"] = "수입"
df4.loc[df4["state"]=="멕","city"] = "멕시코"
df4.loc[df4["state"]=="멕","state"] = "수입"
df4.loc[df4["state"]=="페루","city"] = "페루"
df4.loc[df4["state"]=="페루","state"] = "수입"
df4.loc[df4["state"]=="미국","city"] = "미국"
df4.loc[df4["state"]=="미국","state"] = "수입"
df4.loc[df4["state"]=="아르헨티나","city"] = "아르헨티나"
df4.loc[df4["state"]=="아르헨티나","state"] = "수입"

## 유럽
df4.loc[df4["state"]=="스페인","city"] = "스페인"
df4.loc[df4["state"]=="스페인","state"] = "수입"
df4.loc[df4["state"]=="우크라이나","city"] = "우크라이나"
df4.loc[df4["state"]=="우크라이나","state"] = "수입"

## 아프리카
df4.loc[df4["state"]=="남아프리카","city"] = "남아공"
df4.loc[df4["state"]=="남아프리카","state"] = "수입"
df4.loc[df4["state"]=="남아프리카공화국","city"] = "남아공"
df4.loc[df4["state"]=="남아프리카공화국","state"] = "수입"
df4.loc[df4["state"]=="수입남아프리카공화국","city"] = "남아공"
df4.loc[df4["state"]=="수입남아프리카공화국","state"] = "수입"


## 오세아니아
df4.loc[df4["state"]=="뉴질랜드","city"] = "뉴질랜드"
df4.loc[df4["state"]=="뉴질랜드","state"] = "수입"
df4.loc[df4["state"]=="오스트레일","city"] = "호주"
df4.loc[df4["state"]=="오스트레일","state"] = "수입"
df4.loc[df4["state"]=="오스트레일리아","city"] = "호주"
df4.loc[df4["state"]=="오스트레일리아","state"] = "수입"
df4.loc[df4["state"]=="호주","city"] = "호주"
df4.loc[df4["state"]=="호주","state"] = "수입"
df4.loc[df4["state"]=="통가","city"] = "통가"
df4.loc[df4["state"]=="통가","state"] = "수입"
df4.loc[df4["state"]=="뉴칼레","city"] = "뉴칼레도니아"
df4.loc[df4["state"]=="뉴칼레","state"] = "수입"
df4.loc[df4["state"]=="뉴","city"] = "뉴칼레도니아"
df4.loc[df4["state"]=="뉴","state"] = "수입"
df4.loc[df4["state"]=="누벨칼레","city"] = "뉴칼레도니아"
df4.loc[df4["state"]=="누벨칼레","state"] = "수입"
# 기타
df4.loc[df4["state"]=="수입산","state"] = "수입"
df4.loc[df4["state"]=="기타외국","city"] = "미상"
df4.loc[df4["state"]=="기타외국","state"] = "수입"

In [283]:
df4[df4['state']=='nan']

Empty DataFrame
Columns: [prd, scale, price, origin, eco, reg_date, new_class, price_kg, state, city]
Index: []

In [284]:
df4['state'].unique()

array(['경남', '수입', '전남', '전북', '국산', '경북', '대구', '경기', '광주', '충남', '서울',
       '제주', '충북', '대전', '강원', '인천', '세종', '울산', '부산', '원양산'],
      dtype=object)

In [285]:
# city
# 우선 결측치 제거
df4.loc[df4["city"].isnull(),"city"] = "미상"

In [286]:
# 이후 시,군 등 제거
def name_sort(words):
  p = re.compile('[^시군]+')
  word = re.search(p,words)
  return word.group()

df4["city"] = df4["city"].apply(name_sort)

In [287]:
# \t 도 제거
def name_sort2(words):
  p = re.compile('[^\t]+')
  word = re.search(p,words)
  return word.group()

df4["city"] = df4["city"].apply(name_sort2)

In [288]:
df4['city'].unique()

array(['남해', '마산(고성,진해)', '중국', '통영', '여수', '삼천포', '러', '미국', '산', '미상',
       '고성', '밀양', '진주', '창녕', '합천', '고령', '상주', '대구', '여주', '김해', '이천',
       '거제', '함안', '광산구', '임실', '나주', '논산', '익산', '성주', '전주', '안성', '창원',
       '완주', '의령', '양평', '부여', '광양', '남구', '서천', '고흥', '하남', '고흥(나로도)',
       '서산', '세네갈', '제주', '기타', '남아공', '평택', '해남', '충주', '산청', '완도', '보성',
       '광주', '무안', '청송', '중구', '진천', '장흥', '장성', '북구', '사천', '담양', '대전',
       '인제', '성남', '평창', '김제', '강릉', '예천', '부안', '홍천', '고창', '김천', '남원',
       '정선', '청양', '구미', '금산', '태안', '흥', '예산', '당진', '화천', '봉화', '원주',
       '철원', '춘천', '영주', '홍성', '제천', '부천', '안동', '횡성', '괴산', '세종', '신안',
       '강서구', '베트남', '바레인', '파키스탄', '장항(서천)', '장항', '강화', '영암', '아산',
       '천안', '보령', '음성', '송파구', '고양', '노르웨이', '하동', '마산', '공주', '서구',
       '청원', '강동구', '영동', '화순', '진도', '중랑구', '양주', '파주', '남양주', '도봉구',
       '포천', '동대문구', '용인', '구리', '양천구', '광명', '의왕', '경산', '영양', '의정부',
       '영광', '영천', '포항', '정읍', '영덕', '양구', '울산', '순천(광양)', '순천', '서울',
       '부산', '인천', '거창', '함양', '곡성', '순창', '강진', '남', '장수', '청도', '의성',
       '필리핀', '진안', '옥천', '화성', '연기', '오산', '수원', '김포', '안양', '목포', '가평',
       '함평', '증평', '문경', '영월', '삼척', '남동구', '양양', '청주', '태백', '구례', '동해',
       '무주', '경주', '보은', '단양', '위', '속초', '계양구', '계룡', '강남구', '페루',
       '아르헨티나', '에콰도르', '캐나다', '인도', '대만', '은평구', '부평구', '일본', '칠레', '타이',
       '목포(무안)', '구로구', '금천구', '안산', '동대문', '미추홀구', '통가', '뉴칼레도니아',
       '뉴질랜드', '멕', '이란', '울진', '태국', '호주', '서초구', '양산', '콜롬비아', '과테말라',
       '인도네', '이스라엘', '코스타리카', '남아공산', '아르메니아', '스페인', '이탈리아', '영등포'],
      dtype=object)

In [289]:
# 나머지 케이스 정리

# 국내
df4.loc[df4["city"]=="기타","city"] = "미상"
## 일반시
df4.loc[df4["city"]=="위","city"] = "군위"
df4.loc[df4["city"]=="고흥(나로도)","city"] = "고흥"
df4.loc[df4["city"]=="산","city"] = "군산"
df4.loc[df4["city"]=="장항(서천)","city"] = "서천"
df4.loc[df4["city"]=="삼천포","city"] = "사천"
df4.loc[df4["city"]=="삼천포","city"] = "사천"
df4.loc[df4["city"]=="순천(광양)","city"] = "순천"
df4.loc[df4["city"]=="대천(보령)","city"] = "보령"
df4.loc[df4["city"]=="대천(보령)","city"] = "보령"
df4.loc[df4["city"]=="화성(평택)","city"] = "화성"
df4.loc[df4["city"]=="흥","city"] = "시흥"
df4.loc[df4["city"]=="목포(무안)","city"] = "목포"
df4.loc[df4["city"]=="목포(무안)","state"] = "전남"
df4.loc[(df4["state"]=="전북")&(df4["city"]=="남"),"city"] = "남원"
## 광역시

df4.loc[df4["city"]=="강서구","city"] = "서울"
df4.loc[df4["city"]=="은평구","city"] = "서울"
df4.loc[df4["city"]=="강동구","city"] = "서울"
df4.loc[df4["city"]=="마포구","city"] = "서울"
df4.loc[df4["city"]=="중구","city"] = "서울"
df4.loc[df4["city"]=="송파구","city"] = "서울"
df4.loc[df4["city"]=="도봉구","city"] = "서울"
df4.loc[df4["city"]=="중랑구","city"] = "서울"
df4.loc[df4["city"]=="양천구","city"] = "서울"
df4.loc[df4["city"]=="성동구","city"] = "서울"
df4.loc[df4["city"]=="강남구","city"] = "서울"
df4.loc[df4["city"]=="동대문구","city"] = "서울"
df4.loc[df4["city"]=="영등포구","city"] = "서울"
df4.loc[df4["city"]=="영등포","city"] = "서울"
df4.loc[df4["city"]=="서초구","city"] = "서울"
df4.loc[df4["city"]=="구로구","city"] = "서울"
df4.loc[df4["city"]=="동대문","city"] = "서울"
df4.loc[df4["city"]=="금천구","city"] = "서울"

df4.loc[df4["city"]=="광산구","city"] = "광주"
df4.loc[(df4["state"]=="광주")&(df4["city"]=="남구"),"city"] = "광주"
df4.loc[(df4["state"]=="광주")&(df4["city"]=="북구"),"city"] = "광주"
df4.loc[(df4["state"]=="광주")&(df4["city"]=="서구"),"city"] = "광주"
df4.loc[df4["city"]=="동구","city"] = "광주"
df4.loc[(df4["state"]=="인천")&(df4["city"]=="남구"),"city"] = "인천"
df4.loc[(df4["state"]=="인천")&(df4["city"]=="서구"),"city"] = "인천"
df4.loc[df4["city"]=="미추홀","city"] = "인천"
df4.loc[df4["city"]=="부평구","city"] = "인천"
df4.loc[df4["city"]=="남동구","city"] = "인천"
df4.loc[df4["city"]=="미추홀구","city"] = "인천"
df4.loc[df4["city"]=="계양구","city"] = "인천"
df4.loc[df4["city"]=="마산(고성,진해)","city"] = "창원"
df4.loc[(df4["state"]=="부산")&(df4["city"]=="북구"),"city"] = "부산"
df4.loc[df4["city"]=="오포","city"] = "부산"
df4.loc[df4["city"]=="부산진","city"] = "부산"
df4.loc[df4["city"]=="사상구","city"] = "부산"
df4.loc[df4["city"]=="부산진구","city"] = "부산"
df4.loc[df4["city"]=="북제주","city"] = "제주"
df4.loc[df4["city"]=="남제주","city"] = "제주"

# 해외
## 아시아
df4.loc[df4["city"]=="러","city"] = "러시아"
df4.loc[df4["city"]=="말레이지아","city"] = "말레이시아"
df4.loc[df4["city"]=="타이","city"] = "태국"
df4.loc[df4["city"]=="인도네","city"] = "인도네시아"
## 아메리카
df4.loc[df4["city"]=="멕","city"] = "멕시코"
## 아프리카
df4.loc[df4["city"]=="남아공산","city"] = "남아공"
## 유럽
## 오세아니아

In [290]:
# 첫번째 파일이므로 cities 파일 생성
cities = pd.DataFrame(df4['city'].unique(),columns=['city'])

In [291]:
cities.to_csv('../cities.csv')

In [292]:
# 처리 완료하였으니 df4는 백업으로 두고 df5 활용
df5 = df4.drop(columns='origin')

# 전처리 결과

# 파일 저장

In [293]:
df5.to_csv('../data_proceed/202101_proceed.csv')